<%= simple_form_for @event, remote: true do |f| %>
  <div class="form-inputs">
    <%= f.input :title, prompt: 'Select worker', as: :select, collection: [['Smith', 'Smith'], ['Johnson','Johnson'],
    ['Williams','Williams'], ['Jones','Jones'], ['Brown','Brown'], ['Davis','Davis'], ['Miller','Miller'],
    ['Wilson','Wilson'], ['Mary','Mary'], ['Ivy','Ivy'], ['James','James'], ['Linda','Linda'],
    ['Elizabeth','Elizabeth'], ['Maria','Maria'], ['Andy','Andy'], ['Edward','Edward'], ['Holiday/Weekend','Holiday']] %>
    <%= f.input :date_range, input_html: { class: "form-control input-sm date-range-picker" } %>
    <%= f.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.input_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
    <%= f.input :color, prompt: 'Select color', as: :select, collection: [['Black','black'], ['Green','green'],
    ['Red','red'], ['Grey', 'grey'], ['Blue', 'blue'], ['Orange', 'orange'], ['Olive', 'olive'],
    ['Brown', 'brown'], ['Lightblue', 'lightblue']] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'New Recurring Event',
                new_recurring_event_path,
                class: 'btn btn-default',
                remote: true if @event.new_record? %>
    <%= link_to 'Delete',
                event,
                method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure?' },
                remote: true unless @event.new_record? %>
  </div>
<% end %>
